.Radio form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;

    align-items: center;
    background-color: var(--color-bg-light);
    border-radius: var(--border-radius-large);
}

.Radio.horizontal {
    gap: 1.25em;
}

.Radio label {
    font-size: var(--font-size-small);
    color: var(--color-text);
    white-space: nowrap;
    flex: 1 1 auto; /* allow to grow and shrink */
    padding: 0.6em;
}

input[type="radio"]:checked + label {
    color: var(--color-secondary-text);
    background-color: var(--color-secondary);
    border-radius: 0.5em;
}

input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: none;
}
