.Test > div {
    display: flex;
    flex-direction: row;
    gap: 1em;
    width: 100%;
}

.Test > div > div {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.Test > div > div > h1 {
    margin: 0;
}

.Test > div > div > button {
    padding: 0.5em 0;
    font-size: var(--font-size-medium);
    color: var(--color-text);
}