
.top-nav {
    display: flex;
    position: sticky;
    z-index: 999;

    top: 0;
    left: 0;

    width: 100%;
    height: 8vh;
    box-shadow: var(--shadow-medium) var(--shadow-color-gray);
    margin-bottom: 0.5em;
}

.top-nav > button {
    flex: 1;

    font-size: var(--font-size-small);
    background-color: var(--color-primary);
    color: var(--color-text-muted);
}

.top-nav > button.active {
    font-weight: bold;
    color: var(--color-text-secondary);
    background-color: color-mix(in srgb, var(--color-primary) 90%, black);
    border-bottom: 3px solid var(--color-border);
}
