@import "../../form/style/constants.css";
@import "../../config/colorThemes.css";
@import "top-navigation.css";
@import "pages.css";
@import "../pages/scouting-page/scouting-page.css";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
}

body {
    height: 100vh;
    font-family: system-ui, Arial, sans-serif;
    background: var(--color-bg);
    color: var(--color-text);
}

.hidden {
    display: none !important;
}

#main-app {
    display: flex;
    flex-direction: column;
}
